/Programming Basics/advanced_cond_statetments/.idea
/Programming Basics/advanced_cond_statetments/venv
/Programming Fundamentals/basics_syntax/.idea
/Programming Fundamentals/basics_syntax/venv
/Programming Fundamentals/bitwise_operations/.idea
/Programming Fundamentals/bitwise_operations/venv
/Programming Fundamentals/data_types_variables/.idea
/Programming Fundamentals/data_types_variables/venv
/Programming Fundamentals/dictionaries/.idea
/Programming Fundamentals/dictionaries/venv
/Programming Fundamentals/final_exam_preparation/.idea
/Programming Fundamentals/final_exam_preparation/venv
/Programming Fundamentals/functions/.idea
/Programming Fundamentals/functions/venv
/Programming Fundamentals/list_advanced/.idea
/Programming Fundamentals/list_advanced/venv
/Programming Fundamentals/lists_basics/.idea
/Programming Fundamentals/lists_basics/venv
/Programming Fundamentals/mid_exam_preparation/.idea
/Programming Fundamentals/mid_exam_preparation/venv
/Programming Fundamentals/objects_and_classes/.idea
/Programming Fundamentals/objects_and_classes/venv
/Programming Fundamentals/reg_expressions/.idea
/Programming Fundamentals/reg_expressions/venv
/Programming Fundamentals/text_processing/.idea
/Programming Fundamentals/text_processing/venv
.idea
venv
