<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phones List</title>
</head>
<body>
<h1>{{ message }}</h1>
<ul>
    {% for phone in phones %}
        <li>
            {{ phone.name }}
            {% if phone.quantity %}
                <a href=".../{PHONE_ID}" class="btn cta-buy">
                    BUY
                </a>
            {% else %}
                <a style="pointer-events: none" href=".../{PHONE_ID}" class="btn cta-buy">
                    BUY
                </a>
            {% endif %}
        </li>
        {% empty %}
        No Phones
    {% endfor %}
</ul>
</body>
</html>
